@CHARSET "UTF-8";

*,:after,:before{box-sizing:border-box;}
html { font-size: 20px;}
body { font-size: 1rem; margin:0px; font-family: 'Noto Sans KR', sans-serif;}
a { text-decoration: none; color: #a9afb3;}
label { font-size: 17px; text-align:left; color: #878d91; font-weight: 400; display: inline-block; margin-bottom: .5rem; }
input { overflow:visible; margin:0; font-family:inherit;}
.signup_wrap { max-width: 504px; padding: 2.5rem 0.75rem 1.75rem 0.75rem; margin: auto; margin-bottom: 5rem!important;}
.signup_wrap > form > h2 { margin-bottom: 2.45rem!important; text-align: center; font-weight: 400; font-size: 1.65rem; margin-block-start: 0px; color:#363a3c!important;}
.signup_wrap .info-group { margin-bottom: 1.75rem; }
.form-control{ width: 100%; height: 48px; font-size:16px; color: #363a3c; border-radius:3px; background-color:#fff; padding:14px; display: block; font-weight:300; line-height: 1.5; background-clip: padding-box; border: 1px solid #ced3d6; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; } 
.form-control:focus {outline:1px solid black; }
.signup_wrap .row { display: flex; flex-wrap: wrap; margin-right: -15px;  margin-left:-15px; }
.col {position: relative; max-width:50%; width: 100%; padding-right: 15px; padding-left: 15px;}
.col2 { position: relative; width: 100%; padding-right:15px; padding-left:15px; }
.rulebox { border-radius: 8px; background-color: #f8fafb; padding: 16px; border: 1px solid #eaeeef; line-height: 1.86; font-size: 15px; color: #5b5555d4;}
.mt5 { margin-top: 1.25rem!important; }
.btn { display: block; text-align: center; vertical-align: middle; user-select: none; border: 1px solid #c2c2c2; padding: 1rem 2.75rem; font-size: 1rem; line-height:1.5; border-radius: 3px; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; width: 100%; font-weight: 400; margin-top: 1.75rem!important; margin-bottom: 1.25rem!important; }
.btn:disabled { opacity: .65; }
.btn-warning { margin-top: 0px!important; width: auto; padding:0.6rem 0.3rem!important; font-size:0.7rem!important;}
.col3 {position: relative; max-width:20%; width: 100%; /* padding-right: 15px; */ padding-left: 15px;}
.col4 {position: relative; max-width:80%; width: 100%; padding-right: 15px; /* padding-left: 15px; */}
