@CHARSET "UTF-8";

html { font-size: 20px;}
body { font-size: 1rem; margin:0px;font-family: 'Noto Sans KR', sans-serif;}
a { text-decoration: none; color: #a9afb3;}
input { overflow:visible; margin:0; font-family:inherit;}
.likeWrap { max-width: 600px; padding: 2.5rem 0.75rem 1.75rem 0.75rem; margin: auto; margin-bottom: 2rem!important;}
.likeWrap > form > h2 { margin-bottom: 1.45rem!important; text-align: center; font-weight: 400; font-size: 1.65rem; margin-block-start: 0px; color:#363a3c!important;}
.likeWrap .memo {margin-block-start:0px; margin-block-end:1.5rem; text-align:center; font-size:0.8rem; font-weight: 200; }
.likeWrap .likelike { padding: 0px 50px 0px 50px;}
.likeWrap .likelike .likelist { display:inline-block; width: 150px; margin-bottom:0.8rem; margin-block-start:0px; margin-block-end:1.5rem; padding: 6px 6px 6px 6px;}
.likeCon {margin:auto; padding: 0px 220px 0px 195px;}
.btn { display: block; text-align: center; vertical-align: middle; user-select: none; border: 1px solid #c2c2c2; padding: 1rem 2.75rem; font-size: 1rem; line-height:1.5; border-radius: 3px; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; width: auto; font-weight: 400; margin-top: 1.75rem!important; margin-bottom: 1.25rem!important; }



