@CHARSET "UTF-8";

*,:after,:before{box-sizing:border-box;}
html { font-size: 16px;}
body { font-size: 1rem; margin:0px; font-family: 'Noto Sans KR', sans-serif;}
a { text-decoration: none; color: #a9afb3;}

.col { flex: 0 0 50%; max-width: 50%; }
.btn-warning { margin-top: 0px!important; width: auto; padding:1rem 0.3rem!important; font-size:0.7rem!important;}
.col3 {position: relative; max-width:20%; width: 100%; padding-right: 0px!important; padding-left: 15px;}
.col4 {position: relative; max-width:85%; width: 100%; margin-left:-30px; padding-right: 15px; padding-left: 15px;}
