@CHARSET "UTF-8";


html { font-size: 16px;}
body { font-size: 1rem; margin:0px; font-family: 'Noto Sans KR', sans-serif;}
.container > div > h1 > a > img { width: 7.5rem; }
.container .header ul li:nth-child(1) {display : none; }
.container .header .total span, .container .header ul li:nth-child(2) span { position: absolute;left:-40000%; }
.container .header ul li:nth-child(2) { right: 4.5rem; }
.container .header ul li:nth-child(2) i { display:inline-block; font-size:1.8rem;}
.container > div nav > ul > li > a { padding: 1rem 1rem;}
.container > div nav > ul > li ~ li a:after { background: none;  }
.container .header .total { display:inline-block; position: absolute; right:1.25rem;  padding: 0.9rem 1rem; font-size:1.9rem; color: black;}
